<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Bundler</string>
	<key>ordering</key>
	<array>
		<string>DC6F35B2-32D9-4E7E-813F-3DD5E0382877</string>
		<string>263ACE2C-E136-48CB-9677-F13EF37B1A6B</string>
		<string>0A2A79BC-4579-4469-A1BE-7AF0C4D52724</string>
		<string>868F7575-891E-41A6-B171-DE85D55E76DE</string>
		<string>A2E88AEE-A804-436F-83FE-479DFF741F75</string>
		<string>D13191AD-5C4E-4C12-AD01-FFDB8151E6CF</string>
		<string>ADD44ED5-A0C7-4015-92DB-F99A2743CD70</string>
	</array>
	<key>uuid</key>
	<string>8EAA2221-21F7-4BC7-A93D-E460F539EFB1</string>
</dict>
</plist>
